.logo {
  width: 50px;
  height: 50px;
}

.description {
  width: 600px;

}
.landing{
  display: flex;
  align-items: center;
  flex-direction: column;
 
}
.intro {
  display: flex;
  align-items: center;
  flex-direction: column;
  
  border-radius: 10px;
width: 50%;

  background-color: cornflowerblue;
}
.lessons{
  background-image: url('https://codetheweb.blog/assets/img/posts/css-advanced-background-images/bg-size-cover.png');
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.form {
 
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 400px;
}
.form-children {
  border-radius: 10px;
  padding: 10px;
  margin: 3px;
}

.card-img-overlay {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#ScheduleCarousel{
  display: flex;
  width: 75vw;
  height: 50vw;
}